<!-- Esta plantilla hereda la estructura principal desde base.html -->
{% extends "base.html" %}

<!-- Todo el contenido de esta página irá dentro del bloque content -->
{% block content %}

<!-- Título de la página -->
<h2>Lista de Pedidos</h2>

<!--
Aquí mostramos algunos ejemplos de pedidos.
Cada enlace envía un código diferente a la ruta dinámica /pedido/<codigo>
-->

<ul>

    <li>
        <a href="/pedido/001">Pedido 001</a>
    </li>

    <li>
        <a href="/pedido/002">Pedido 002</a>
    </li>

    <li>
        <a href="/pedido/003">Pedido 003</a>
    </li>

</ul>

<!-- Enlace para volver al inicio -->
<a href="/">Volver al inicio</a>

{% endblock %}